In [228]:
%matplotlib inline
import pandas as pd
import datetime as dt
import random
import pdb
from dateutil.parser import parse
from experiment.models import Models, Parameters
from experiment.models import get_metadata_file, get_pubdate_index

mt = get_metadata_file()
p = Parameters()
p.q = "Mitch Landrieu"

results = Models.get_results(p)
facets, aliases = Models.get_facets(p, results)

df = pd.DataFrame()
df['id'] = results
metadata = [mt[r] for r in results]
q_pubdates = [parse(h["pubdate"]) for h in metadata]
df['pd'] = q_pubdates
df['landrieu'] = [1 for i in q_pubdates]

pub_index = get_pubdate_index()

# df = df.groupby(lambda x: df['date'][x].year).sum()
# df = df.groupby(["cat", pd.Grouper(freq='1y',key='date')]).sum()

DEBUG:experiment:got facets. time to filter

In [235]:
import itertools

def convert(t):
    if t:
        return 1
    else:
        return 0

facet = "federal consent decree"
alias = [pub_index[a] for a in aliases[facet]]
facet_dates = set([i for i in set([i for i in itertools.chain(*alias)]).union(pub_index[facet])])
tmp = [p in facet_dates for p in q_pubdates]
gus = [int(p) for p in gus]
df["gus"] = gus
print df
# df.columns=["pd", "landrieu" "gusman"]
# df.reindex()
# df = df.groupby([df['pd'].map(lambda x: x.year), df["landrieu"]]).sum() #, df['gusman'].map(lambda x: 1 if x else 0)]).sum()
# print df
#print df['gusman']
# print df # df.apply
#df.columns=["pd", "gusman"]
#df.groupby([pd.Grouper(lambda x: df['pd'][x].year), "gusman"]).sum()
# print df

       id         pd  landrieu  gus
0    2142 2010-02-09         0    0
1    1668 2013-06-03         0    0
2    1810 2014-01-16         1    1
3    2276 2011-12-08         0    0
4     759 2010-12-09         0    0
5    1641 2010-09-23         0    0
6     170 2011-08-10         0    0
7     917 2014-01-27         0    0
8     714 2014-01-02         0    0
9    2343 2014-05-02         0    0
10   2972 2013-08-28         0    0
11   2975 2013-10-14         0    0
12   3437 2010-12-14         0    0
13   2386 2010-02-24         0    0
14   1283 2010-07-09         0    0
15    785 2010-11-11         0    0
16   2866 2014-02-03         0    0
17    661 2010-03-29         0    0
18   1874 2010-03-24         0    0
19   2367 2011-10-28         0    0
20   1682 2013-08-29         0    0
21   3241 2010-04-05         1    1
22   1944 2013-05-07         1    1
23   2296 2011-10-17         0    0
24   3236 2010-10-14         0    0
25   1669 2010-01-27         0    0
26   2191 2011-04-11         0    0
27    355 2010-12-10         0    0
28   1892 2013-10-15         1    1
29   2072 2010-10-26         0    0
..    ...        ...       ...  ...
282    72 2012-11-10         0    0
283  3281 2014-12-03         0    0
284  1206 2011-02-01         0    0
285  2005 2014-09-10         1    1
286  3295 2011-06-22         0    0
287  3004 2015-06-01         0    0
288  3499 2011-06-21         0    0
289  3091 2013-03-01         0    0
290  2565 2014-01-02         0    0
291   409 2014-12-10         0    0
292  1614 2013-04-01         1    1
293  3142 2010-09-16         0    0
294   372 2012-02-23         0    0
295  1125 2013-04-19         0    0
296   337 2013-04-22         0    0
297  1786 2012-11-12         1    1
298  2926 2013-09-11         0    0
299  1629 2015-03-02         0    0
300   687 2013-11-06         0    0
301  1038 2010-10-28         0    0
302  1716 2014-04-02         0    0
303  3027 2010-01-28         0    0
304  3405 2011-12-28         0    0
305  2594 2011-01-06         0    0
306  2634 2012-08-16         1    1
307  3090 2015-05-18         0    0
308  3364 2013-04-29         1    1
309  2622 2012-11-08         1    1
310   623 2011-06-29         0    0
311  1441 2014-10-31         0    0

[312 rows x 4 columns]