In [7]:
%matplotlib inline
import pandas as pd
import datetime as dt
import random
import itertools
import pdb
from dateutil.parser import parse
from experiment.models import Models, Parameters
from experiment.models import get_metadata_file, get_pubdate_index

mt = get_metadata_file()
p = Parameters()
p.q = "Mitch Landrieu"

results = Models.get_results(p)
facets, aliases = Models.get_facets(p, results)

df = pd.DataFrame()
df['id'] = results
metadata = [mt[r] for r in results]
q_pubdates = [parse(h["pubdate"]) for h in metadata]

df['pd'] = q_pubdates
df[p.q] = [1 for i in q_pubdates]

pub_index = get_pubdate_index()

for facet in facets:
    alias = [pub_index[a] for a in aliases[facet]]
    facet_dates = set([i for i in set([i for i in itertools.chain(*alias)]).union(pub_index[facet])])
    gus = [int(p) for p in [p in facet_dates for p in q_pubdates]]
    df[facet] = gus

df

DEBUG:experiment:got facets. time to filter

,id,pd,Mitch Landrieu,Department of Justice,Marlin Gusman,Orleans Parish Sheriffs Office,federal consent decree,NOPD,Andy Kopplin,Susan Guidry,NORA,Ryan Berni
0,2142,2010-02-09,1,0,0,0,0,0,0,0,0,0
1,1668,2013-06-03,1,0,0,0,0,0,0,0,0,0
2,1810,2014-01-16,1,0,1,0,1,0,0,0,0,1
3,2276,2011-12-08,1,0,0,0,0,0,0,0,0,0
4,759,2010-12-09,1,0,1,0,0,0,0,0,0,0
5,1641,2010-09-23,1,0,1,0,0,0,0,1,0,0
6,170,2011-08-10,1,0,0,0,0,0,0,0,0,0
7,917,2014-01-27,1,0,0,0,0,0,0,0,0,0
8,714,2014-01-02,1,0,0,0,0,0,0,0,1,0
9,2343,2014-05-02,1,0,0,0,0,0,0,0,0,0
10,2972,2013-08-28,1,0,0,0,0,0,0,0,0,0
11,2975,2013-10-14,1,0,0,0,0,0,0,0,0,0
12,3437,2010-12-14,1,0,0,0,0,0,0,0,0,0
13,2386,2010-02-24,1,0,0,0,0,1,0,0,0,0
14,1283,2010-07-09,1,0,0,0,0,0,0,0,0,1
15,785,2010-11-11,1,0,0,0,0,0,1,0,0,0
16,2866,2014-02-03,1,0,0,0,0,0,0,0,0,1
17,661,2010-03-29,1,0,0,0,0,1,0,0,0,0
18,1874,2010-03-24,1,0,0,0,0,0,0,0,0,0
19,2367,2011-10-28,1,0,0,0,0,0,0,0,0,0
20,1682,2013-08-29,1,0,0,0,0,0,0,0,0,0
21,3241,2010-04-05,1,1,0,0,1,1,0,0,0,0
22,1944,2013-05-07,1,1,0,1,1,0,0,0,1,0
23,2296,2011-10-17,1,0,0,0,0,0,0,0,0,0
24,3236,2010-10-14,1,0,1,1,0,0,0,0,0,0
25,1669,2010-01-27,1,0,0,0,0,1,0,0,0,0
26,2191,2011-04-11,1,0,0,0,0,0,0,0,0,1
27,355,2010-12-10,1,0,1,0,0,0,1,0,0,0
28,1892,2013-10-15,1,0,0,1,1,0,1,1,0,0
29,2072,2010-10-26,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
282,72,2012-11-10,1,0,0,0,0,0,0,1,0,0
283,3281,2014-12-03,1,0,0,0,0,0,0,0,0,0
284,1206,2011-02-01,1,0,1,1,0,0,0,0,0,1
285,2005,2014-09-10,1,1,0,0,1,1,0,0,0,0
286,3295,2011-06-22,1,0,1,0,0,0,0,1,0,0
287,3004,2015-06-01,1,0,0,0,0,0,0,0,0,0
288,3499,2011-06-21,1,0,0,0,0,0,1,1,0,0
289,3091,2013-03-01,1,0,1,1,0,0,1,1,0,1
290,2565,2014-01-02,1,0,0,0,0,0,0,0,1,0
291,409,2014-12-10,1,0,0,0,0,0,0,0,0,0
292,1614,2013-04-01,1,1,1,1,1,0,0,0,0,0
293,3142,2010-09-16,1,0,0,0,0,0,0,0,0,1
294,372,2012-02-23,1,1,1,0,0,0,0,0,0,0
295,1125,2013-04-19,1,0,0,0,0,0,0,0,0,1
296,337,2013-04-22,1,0,0,0,0,0,0,0,0,0
297,1786,2012-11-12,1,1,1,1,1,0,1,1,0,0
298,2926,2013-09-11,1,0,0,0,0,0,1,0,0,0
299,1629,2015-03-02,1,0,0,0,0,0,0,0,1,0
300,687,2013-11-06,1,0,0,0,0,0,0,1,1,0
301,1038,2010-10-28,1,0,0,0,0,0,1,0,0,0
302,1716,2014-04-02,1,0,1,1,0,0,0,0,0,0
303,3027,2010-01-28,1,0,0,0,0,0,0,0,0,0
304,3405,2011-12-28,1,0,0,0,0,0,0,0,0,0
305,2594,2011-01-06,1,0,0,0,0,0,0,0,0,0
306,2634,2012-08-16,1,1,1,1,1,1,1,1,0,1
307,3090,2015-05-18,1,0,0,0,0,0,0,1,0,0
308,3364,2013-04-29,1,1,0,0,1,0,1,0,0,0
309,2622,2012-11-08,1,1,0,0,1,1,1,0,0,1
310,623,2011-06-29,1,0,1,1,0,0,0,1,0,0
311,1441,2014-10-31,1,0,0,0,0,0,0,0,0,0